* {
    margin: 0px;
    padding: 0px;
}

html {
    color: #0cc;
    background-color: #111;
    background: url("bg.jpg");
    background-size: cover;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 30px;
}

body {
    min-width: 940px;
}

.cn-container {
    margin: 0px auto;
    margin-top: 30px;
    width: 800px;
    padding: 50px;
    border: 3px #0cc solid;
    border-radius: 5px;
    background: #111;
    box-shadow: 0px 0px 17px #0cc ;
}

h1 {
    font-size: 70px;
    letter-spacing: 15px;
    text-shadow: 0px 0px 7px #0cc;
    animation: d2 10s infinite;
    padding-bottom: 10px;
    border-bottom: 3px #0cc solid;
    display: inline-block;
}

@keyframes d2 {
    0% { color: inherit; text-shadow: 0px 0px 11px #0cc; }
    54% { color: inherit; text-shadow: 0px 0px 5px #0cc; }
    55% { color: #444; text-shadow: none; }
    56% { color: inherit; text-shadow: 0px 0px 9px #0cc; }
    57% { color: #444; text-shadow: none; }
    60% { color: inherit; text-shadow: 0px 0px 9px #0cc; }
    95% { color: inherit; text-shadow: 0px 0px 5px #0cc; }
    96% { color: #444; text-shadow: none; }
    97% { color: inherit; text-shadow: 0px 0px 9px #0cc; }
    100% { color: inherit; text-shadow: 0px 0px 11px #0cc; }
} 

p {
    margin-top: 50px;
}

a {
    color: #0cc;
    font-weight: bold;
    font-size: 125%;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0px 0px 0px #000;
    transition: text-shadow 1s ease-out;
}

a:hover {
    text-shadow: 0px 0px 7px #0cc;
    transition: text-shadow 1s ease-out;

}
